[{:match-id 1
  :date #inst "2024-11-24T00:00:00.000-00:00"
  :team-colours-data {:goals 4
                      :shooting-at-railway 1
                      :players #{"Tom Brooksbank"
                                 "Mark G"
                                 "Sam"
                                 "Tim"
                                 "Steve"
                                 "Dave V"
                                 "Rick"
                                 "Ian"}}
  :team-bibs-data {:goals 7
                   :shooting-at-railway 0
                   :players #{"Andre"
                              "Christian"
                              "Stace"
                              "Simon"
                              "Berk"
                              "Kadir"
                              "Saffet"
                              "Ryan W"}}}
 {:match-id 2
  :date #inst "2024-12-02T00:00:00.000-00:00"
  :team-colours-data {:goals 7
                      :shooting-at-railway 1
                      :players #{"Tom Brooksbank"
                                 "Tom Searle"
                                 "Rick"
                                 "Berk"
                                 "Steve"
                                 "Mark G"
                                 "Tim"
                                 "Rich B"}}
  :team-bibs-data {:goals 9
                   :shooting-at-railway 0
                   :players #{"Christian"
                              "Jonny"
                              "Saffet"
                              "Simon"
                              "Mark B"
                              "Henry"
                              "Andre"
                              "Catalin"}}}
 {:match-id 3
  :date #inst "2024-12-09T00:00:00.000-00:00"
  :team-colours-data {:goals 8
                      :shooting-at-railway 1
                      :players #{"Tom Searle"
                                 "Rich B"
                                 "Saffet"
                                 "Callum"
                                 "Andre"
                                 "Ian"
                                 "Henry"
                                 "Kadir"}}
  :team-bibs-data {:goals 4
                   :shooting-at-railway 0
                   :players #{"Tom Brooksbank"
                              "Berk"
                              "Tim"
                              "Steve R"
                              "Christian"
                              "Jonny"
                              "Stace"
                              "Mark B"}}}]