[{:name "Rick Miles"
  :defensive-bias 0.4
  :attacking-bias 0.6
  :manager-rating 0.4448}
 {:name "Christian"
  :defensive-bias 0.6
  :attacking-bias 0.4
  :manager-rating 0.4328}
 {:name "Chris"
  :defensive-bias 0.4
  :attacking-bias 0.6
  :manager-rating 0.6379}
 {:name "Catalin Dominte"
  :defensive-bias 0.7
  :attacking-bias 0.3
  :manager-rating 0.5534}
 {:name "Sam"
  :defensive-bias 0.5
  :attacking-bias 0.5
  :manager-rating 0.6017}
 {:name "Andre"
  :defensive-bias 0.1
  :attacking-bias 0.9
  :manager-rating 0.5655}
 {:name "Gary"
  :defensive-bias 0.7
  :attacking-bias 0.3
  :manager-rating 0.5414}
 {:name "Edd Cowley"
  :defensive-bias 0.5
  :attacking-bias 0.5
  :manager-rating 0.6500}
 {:name "Simon Wardell"
  :defensive-bias 0.2
  :attacking-bias 0.8
  :manager-rating 0.3362}
 {:name "Steve Rowland"
  :defensive-bias 0.8
  :attacking-bias 0.2
  :manager-rating 0.4207}
 {:name "Tom Brooksbank"
  :defensive-bias 0.2
  :attacking-bias 0.8
  :manager-rating 0.5052}
 {:name "Jonny"
  :attacking-bias 0.4
  :defensive-bias 0.6
  :manager-rating 0.5897}
 {:name "Mark Gawthrop"
  :attacking-bias 0.5
  :defensive-bias 0.5
  :manager-rating 0.3724}
 {:name "Richard Brown"
  :attacking-bias 0.6
  :defensive-bias 0.4
  :manager-rating 0.5776}
 {:name "Mark Burnage"
  :attacking-bias 0.95
  :defensive-bias 0.05
  :manager-rating 0.3241}
 {:name "Zam"
  :attacking-bias 0.9
  :defensive-bias 0.1
  :manager-rating 0.5293}
 {:name "Kadir"
  :attacking-bias 0.2
  :defensive-bias 0.8
  :manager-rating 0.3121}
 {:name "Dave Vann"
  :attacking-bias 0.6
  :defensive-bias 0.4
  :manager-rating 0.5172}
 {:name "Tom Searle"
  :attacking-bias 0.5
  :defensive-bias 0.5
  :manager-rating 0.6259}
 {:name "Berk"
  :attacking-bias 0.1
  :defensive-bias 0.9
  :manager-rating 0.6138}
 {:name "Saffet"
  :attacking-bias 0.3
  :defensive-bias 0.7
  :manager-rating 0.3603}
 {:name "Gordon"
  :attacking-bias 0.4
  :defensive-bias 0.6
  :manager-rating 0.4931}
 {:name "Ian Daley"
  :attacking-bias 0.5
  :defensive-bias 0.5
  :manager-rating 0.4810}
 {:name "Adam Turnbull"
  :attacking-bias 0.3
  :defensive-bias 0.7
  :manager-rating 0.3483}
 {:name "Tim"
  :attacking-bias 0.8
  :defensive-bias 0.2
  :manager-rating 0.4690}
 {:name "Stace"
  :attacking-bias 0.9
  :defensive-bias 0.1
  :manager-rating 0.4569}
 {:name "John Henry Prate"
  :attacking-bias 0.2
  :defensive-bias 0.8
  :manager-rating 0.4086}
 {:name "Callum Watson"
  :attacking-bias 0.5
  :defensive-bias 0.5
  :manager-rating 0.3966}
 {:name "Ryan Waters"
  :attacking-bias 0.5
  :defensive-bias 0.5
  :manager-rating 0.3845}]

